DEBUG=True
SECRET_KEY=
DATABASE_URL=postgresql://user:password@host:5432/dbname
DB_NAME=
DB_USER=
DB_PASSWORD=
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
RABBITMQ_HOST=rabbitmq
CELERY_BROKER_URL = redis://redis:6379/0
CELERY_RESULT_BACKEND = redis://redis:6379/0
REDIS_URL=redis://redis:6379/1